**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/Debug
**/Release
**/logs
**/*.user
**/*.suo
**/*.md
**/.gitignore
**/appsettings.Development.json
**/appsettings.Local.json
.env
.env.example
docker-compose.yml
nginx/
.github/
